<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.project.DAO.BoardMapper">
	 
	 <!-- 글 저장 메서드 -->
	 	<insert id="write" parameterType = "Board">
	 
	insert into Board (
		board_num
		, board_title
		, board_contents
		, person_id

	) values (
		board_number_sequence.nextval
		, #{board_title}
		, #{board_contents}
		, #{person_id}
	)
	 	</insert>

</mapper>
