<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="global.sesoc.project.DAO.BookmarksMapper">
<!-- interface의 경로와 같아야 한다. -->
	<insert id = "insert" parameterType = "Bookmarks">
		insert into bookmarks(bookmarks_num, bookmarks_title, bookmarks_bookmark, bookmarks_date, bookmarks_name )
		 values(sequence_bookmarks.nextval, #{bookmarks_title}, #{bookmarks_bookmark}, #{bookmarks_date}, #{bookmarks_name})
	</insert>
	
	<select id = "select" parameterType = "string" resultType = "Bookmarks">
		select * from bookmarks where bookmarks_name = #{bookmarks_name} order by bookmarks_num 
	</select>
	
	<delete id = "delete" parameterType = "string">
		delete from bookmarks where bookmarks_bookmark = #{bookmarks_bookmark}
	</delete>
	
	<select id = "select_date" parameterType = "string" resultType = "string">
		select bookmarks_date from bookmarks where bookmarks_title = #{book_title}
	</select>
	
	<delete id = "deleteAll" parameterType = "string">
		delete from bookmarks where bookmarks_name = #{bookmarks_name}
	</delete>
	
	<select id = "select_num" resultType = "int">
		select bookmarks_num
		from (select * from bookmarks order by bookmarks_num desc)
		where rownum = 1
	</select>
</mapper>
