<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="global.sesoc.project.DAO.BookInfoMapper">
	<!-- interface의 경로와 같아야 한다. -->
	<insert id="insert" parameterType="map">
		insert into bookinfo(bookinfo_booknum, bookinfo_bookkey, bookinfo_setting, person_id)
		values(sequence_book.nextval, #{info.bookinfo_bookkey},
		#{info.bookinfo_setting}, #{person_id})
	</insert>

	<select id="select_setting" resultType="string">
		select bookinfo_setting
		from (select * from bookinfo order by bookinfo_booknum desc)
		where rownum = 1
	</select>

	<select id="select_bookkey" resultType="string">
		select bookinfo_bookkey
		from (select * from bookinfo order by bookinfo_booknum desc)
		where rownum = 1
	</select>
	
	<select id = "select_bookinfo" parameterType = "map" resultType = "BookInfo">
		select *
		from (select * from bookinfo where bookinfo_bookkey = #{bookKey} and person_id = #{person_id} order by bookinfo_booknum desc)
		where rownum = 1
	</select>
	
	<!-- 책 이름에 따라서 삭제되도록 해야함 -->
	<delete id = "update_bookinfo" parameterType = "string">
		update bookinfo set bookinfo_setting
			where bookinfo_bookkey = #{bookKey}
	</delete>
	
	<delete id = "deleteBookInfo" parameterType = "string">
		delete from bookinfo where person_id = #{person_id}
	</delete>
</mapper>
